* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: aliceblue;
  margin: 8px;
}
header {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
}

div {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
}

.container {
  margin: 20px 0px;
  width: 100%;
  justify-content: space-between;
}

header {
  width: 98.5%;
  background: #FFE599;
}


.quote {
  text-align: center;
  padding: 40px 40px 10px 40px;
  font: 1.4em bold;
  font-family: 'Courier New', Courier, monospace;
}

.speaker {
  font-style: italic;
  font-size: 1.2em;
}


ul {
  list-style: none;
}

strong {
  font-size: 1.2em;
}

.text-center {
  text-align: center;
}

footer {
  margin-top: 80px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.6em;
  text-align: center;
}

div.box {
  margin-top: 2px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 400px;
  margin-left: 20%;
}

img {
  width: 400px;
  height: auto;
  
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
  border-style: solid;
}
.caption {
  display: block;
}

article {
  background-color: #DADADA;
  width: 60%;
  margin: auto;
}


#mainPicture {
  width: fit-content;
  height: auto;
  /* background: blanchedalmond; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 30px;
}

div span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li p {
  font-size: 18px ;
  margin-bottom: 3px;
}