body {
    background: #364371;
  }
  
  #wrap {
    width: 700px;
    margin: auto; 
    background: #b0cfff;
  }
  
  #content {
    background: #5b7fbd;
    margin-left: 170px;
  }
  #content p{
    text-align: center;
    padding: 0 20px; 
  }
  h1 {
      text-align: center;
  }
  #content ul{
    text-align: center;
    padding: 0 20px; 
    list-style: none;
    margin: 0;
  }
  #nav {
    background: #b0cfff;
    padding: 10px;
    float: left;
  }
  
  .copyright{
    padding: 0 !important;
    float: right;
    margin-top: 0;
  }